rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    // Public locations for map, readable by anyone, nobody can modify
    match /locations/{locationId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId}/saved_locations/{docId} {
      allow read, create, update, delete: if request.auth != null
        && request.auth.uid == userId
        && request.resource.data.keys().hasOnly(['locationId','locationData','savedAt']);
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
